{% extends 'base.html.twig' %}

{% block content %}
  <div class="container">
    <h1>Contacto</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Nombre:</strong> 
        <span>Joey Santiago</spa>

            </li>
      <li class="list-group-item">
        <strong>Email:</strong> 
        <span>joeysantiago@thepixies.net
           </li>
     

      
    </ul>
  </div>
{% endblock %}